#team .team-profile {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
#team .team-profile img {
  width: 132px;
}
#team .team-profile .name {
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 0px;
}
#team .team-profile .sub {
  color: #6c757d;
  font-size: .75rem;
  text-transform: uppercase;
  font-weight: 500;
}
