.course-card {
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
  color: rgba(0, 0, 0, 0.87);
  background: #fff;
  min-height: 280px;
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -webkit-transition: all .5s;
  transition: all .5s;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

  .course-card-top {
    height: 120px;
    width: 100%;
    position: relative;
    overflow: hidden;
  }
  .course-card-image {
    height: 120px;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    -webkit-transition: all .5s;
    transition: all .5s;
  }
  .course-card-overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 120px;
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  .course-card-title {
    position: absolute;
    bottom: 2px;
    font-size: 1.2em;
    margin-left: 5px;
    color: #FFFF;
    font-weight: 600;
  }

  .course-card-body {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
  }
  .course-card-information p {
    font-size: 0.8em;
    font-weight: 500;
    margin-bottom: 0px;
  }
  .course-card-description {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
  .course-card-description p {
    text-align: justify;
    font-size: 0.8em;
    line-height: 1.8;
  }
  .course-card-price {
    position: absolute;
    bottom: 10px;
    right: 20px;
    font-weight: 400;
  }

}

.course-card:hover {
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  .course-card-image {
    transform: scale(1.2);
  }
}

.course-card {
  .red {
    background-color: #ff00008f;
  }
  .yellow {
    background-color: #ffff008f;
  }
  .blue {
    background-color: #0000ff8f;
  }
  .green {
    background-color: #0080008f;
  }
}
