
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import "font-awesome";

// Material Kit
@import 'material-kit';

// Custom Styles
@import 'style';

// Pages
@import '/pages/home';
@import '/pages/jfk';
@import '/pages/about';
@import '/pages/mycourses';
@import '/pages/courses';
@import '/pages/course';
@import '/pages/cart';
@import '/pages/star-rating-svg';
@import '/pages/loading';
@import '/pages/error';

#circle-animation-container {
  width: 100%;
  height: 200px;
}

#circle-animation{
  position: absolute;
  top: 40%;
  width: 30%;
  margin-left: 10px;
  transform: translate(-50%, -50%);
}

#circle-animation path, polyline{
  fill: none;
  stroke: $brand-success;
  stroke-width: 20;
  stroke-linecap: round;
  stroke-linejoin: round;
}

#circle-animation .circle{
  stroke-dasharray: 1260;
  animation: circle 1s ease-out ;
}

#circle-animation .check{
  stroke-dasharray: 430;
  animation: check 1s ease-in ;
}

@keyframes circle {
  0%, 40% {
    stroke-dashoffset: -1260;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes check {
  0% {
    stroke-dashoffset: 430;
  }
  40% {
    stroke-dashoffset: 0;
  }
}
