.banner {
  background-image: url('./img/banner.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
.banner .row {
  padding-top: 160px;
}
.banner h1 {
  color: #FFFFFF;
}
.banner .heading-1 {
  font-size: 24px;
}
.banner .heading-2 {
  font-size: 74px;
}
@media only screen and (max-width: 600px) {
  .banner .heading-1 {
    font-size: 18px;
  }
  .banner .heading-2 {
    font-size: 64px;
  }
}

.hero-content-colored {
  width: 100%;
  min-height: 180px;
  background-color: $brand-primary;
  padding: 10px 20px 10px 20px;
  color: #FFFFFF;
}
